<div class="container1">
    <ul class="mainList">
        <li>
            <ul>
                <li>FLOOR :</li>
                <li><select name="" id="">
                    <option value="">1</option>
                </select></li>
            </ul>
        </li>
        <li>
            <ul>
                <li>SECTION :</li>
                <li><select name="" id="">
                    <option value="">Lab 1</option>
                </select></li>
            </ul>
        </li>
        <li>
            <ul>
                <li>VIEW :</li>
                <li><select name="" id="">
                    <option value="">Individual</option>
                </select></li>
            </ul>
        </li>
        <li>
            <ul>
                <li>METER :</li>
                <li><select name="" id="">
                    <option value="">METER 1</option>
                    <option value="">METER 2</option>
                    <option value="">METER 3</option>
                    <option value="">METER 4</option>
                    <option value="">METER 5</option>
                </select></li>
            </ul>
        </li>
    </ul>
</div>
<div class="container2">
    <ul class="subList">
        <li>
            <ul>
                <li>ENERGY :</li>
                <li class="values">156,610kwh</li>
            </ul>
        </li>
        <li>
            <ul>
                <li>LAST UPDATED :</li>
                <li class="values">22/06/2021 12:07 PM</li>
            </ul>
        </li>
        <li>
            <ul>
                <li>NEXT HOUR PREDICTED ENERGY :</li>
                <li class="values">157,393.05 kWh</li>
            </ul>
        </li>
    </ul>
</div>
