@import url('https://fonts.googleapis.com/css2?family=Lato:wght@500&family=Open+Sans:wght@500&display=swap');
*{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}
.mainContainer{
    display: flex;
}





.left{
    height: 100vh;
    width: 0;
    /* background-color: aqua; */
    transition:all .2s ease-in-out ;
    overflow: hidden;
}
.menu{
    margin: 10vh 2%;
}
.menu ul li{
    list-style: none;
    margin: 15% 0;
}





.right{
    width: 100%;
}
header{
    height: 7vh;
    width: 100%;
    position: relative;
    top: 0;
    background-color: #316dba;
}
nav{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    align-items: center;
    color: white;
    list-style: none;
}
li{
    padding:0 15px;
}
fa-icon{
    cursor: pointer;
}
#faCross{
    display: none;
}


/* dropdown */
.dropdowns{
    width: 100%;
    height: 20vh;
    /* background-color: red; */
}